<h1>Products</h1>
<%= link_to "new products", "/products/new" %>


<% @products.each do |product| %>

  <p><%= product[:name] %> , <%= product[:description] %>, <%= product[:price_in_cents] %>

    <% end %>