<h1>Products</h1>
<%= link_to "new products", "/products/new" %>


<% @products.each do |product| %>

  <p>
    <%= link_to product.name, "/products/#{product.id}" %> , <%= product[:description] %>, <%= product[:price_in_cents] %>
  </p>


    <% end %>